
@{
    ViewBag.Title = "LoadRemotePage";
}

<h2>LoadRemotePage</h2>

<div id="dest">
    <p>
        Using javascript to get content from a remote page...
        <br />
        https://vndocs.azurewebsites.net/Listing/ViewDocument?documentId=1103
    </p>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.get('https://vndocs.azurewebsites.net/Listing/ViewContent?documentId=1103', function (data) {
                $('#dest').html(data)
            });
        });
    </script>
}
