@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC POC</h1>
    <p class="lead">This site contains POCs before I apply them to real application</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Autocomplete with Bootstrap</h2>
        <p>
            Using ajax to pull data source from the server, add existing / new topics into a form. Then to remove topics selected.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("BootstrapAutocomplete")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        &nbsp;
    </div>
</div>